.navbar-custom a.headlink.nav-link,
.navbar-custom a.headlink.nav-link:link,
.navbar-custom a.headlink.nav-link:visited,
.navbar-custom a.headlink.nav-link:active {
  color: #e84545;
  margin: 2px;
  font-weight: 400;
}
.navbar-custom a.headlink.nav-link:hover {
  color: #903749;
  /* transition: 1s; */
  border-bottom: 3px solid #903749;
}

.navbar {
  /* border-bottom: 2px solid #2b2e4a; */
  padding: 1.5em;
  padding-right: 20px;
}

.navbar-brand h3 {
  color: #e84545;
  border-bottom: #e84545;
}

@media (max-width: 426px) {
  .nav-item {
    border-left: 0px;
  }
}

.footer {
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* margin: 0% 0 0 0; */
  /* padding: 1% 0 0 0; */
  background-color: #2b2e4a;
}

.footcol {
  padding: 2em;
  background-color: #2b2e4a;
  color: white;
  border-right: 1px outset #e84545;
}

.footcol h1,
.footcol p {
  padding-left: 0.5em;
  color: #e84545;
}

.footcol h2 {
  padding-left: 35px;
  color: #e84545;
}
.footcol .mail {
  padding-left: 3em;
}

.footcol a {
  color: #e84545;
  padding: 0 10px 0;
}

.footcol a:hover {
  color: #903749;
}

.footcol p {
  padding-left: 3em;
  padding-top: 10px;
}

.footcol i {
  padding: 0.3em;
  padding-top: 20px;
}

a.footlink,
a.footlink:link,
a.footlink:visited {
  padding: 0.8em 3.5em 0;
  color: #e84545;
}
a.footlink:hover {
  color: #903749;
}

/* home */
.home {
  text-align: center;
}

.error {
  text-align: center;
  padding: 1em;
}

.btn.error-btn {
  background-color: #e84545;
  border-radius: 12px;
  color: white;
}
.btn.error-btn:hover {
  background-color: #903749;
}

.d1 h3 {
  text-align: start;
  color: #2b2e4a;
}
.d1 h1,
.d1 p {
  color: white;
}
.d2 {
  text-align: center;
  align-self: center;
  color: white;
}

.info {
  background-color: #e84545;
}

button.btn,
button.btn:active,
button.btn:focus,
button.btn:hover {
  background-color: #2b2e4a;
  margin: 5px;
}

button.btn span {
  opacity: 0;
}
button.btn:hover span {
  opacity: 1;
  transition: 0.5s;
}
.testcol {
  text-align: center;
  background-color: #2b2e4a;
  color: white;
}

@media only screen and (max-width: 426px) {
  .testimg i {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #e84545;
}

.btn.back {
  background-color: #e84545;
}
.btn.back:hover {
  background-color: #903749;
}

.link2 {
  color: white;
  text-decoration: none;
}

.link2:hover {
  color: grey;
  text-decoration: none;
}

.faq {
  background-color: #e84545;
}
div.card-header {
  color: #e84545;
  border: none;
  background-color: #2b2e4a;
}

div.card.head {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
  color: #e84545;
  background-color: #2b2e4a;
}
div.card-body {
  text-align: justify;
}

.navbar-toggler {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,69,69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    no-repeat center center;
}
.navbar-toggler-icon {
  opacity: 0;
}

.loading {
  background-color: #2b2e4a;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.loading div.spinner-border {
  color: #e84545;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
